


.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0 0 0 0);
}

h2.title {
    font-weight: 700;
    font-size: 24px;
    margin: 20px 0 10px;
}

.header {border-bottom: 1px solid #dbdbdb;}



.sp_icon {background-image: url(../images/icon/icon_sp.png);background-repeat: no-repeat;}

.sp_sns {background-image: url(../images/icon/icon_sp_sns.png);background-repeat: no-repeat;display: block;width: 40px;height: 40px;}

.sp_icon_news {background-image: url(../images/icon/icon_sp_news.png);background-repeat: no-repeat;}



